
@import url('https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap');

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* ================== */
body{
	background-color: #787676;	
}
.header{
	background-color: #e6cbfe;
	padding: 15px;
	text-align: center;
	color: rgb(147, 141, 255);
	font-size: 30px;
}
.footer {
	background-color: #c3ffa2;
	padding: 15px;
	text-align: center;
	color: rgb(147, 141, 255);
	font-size: 30px;
}
/* ======================= */

	.page{	
		padding: 30px;
	}
	.page__block{
		margin-bottom: 50px;
	}

	.block{
		border: 5px solid #ac260c;
		background-color: #794f45;
		display: flex;
		flex-wrap: wrap;
		min-height: 100px; 
		padding: 10px;
		/* justify-content: flex-start;  */
		/* justify-content:space-between;  */
		/* justify-content:space-around;  */
		/* justify-content:space-evenly;  */
		align-items: center; 
		align-content: space-around;
		/* flex-direction:column ;  */
		gap: 5px; 

	}
	.block__item {
		color: #fff;
		display: block;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 24px;
		font-weight: 700;
		background-color: #7A956B;
		padding: 10px;
		text-align: center;
		border: 5px solid #77608d;
		flex: 0 1 25%;
		
		
	}
	.block__item:nth-child(1) {
		
	}
	.block__item:nth-child(2){
		
	}
	.block__item:nth-child(3) {
		
	}
	.block__item:nth-child(4) {}
		
	/* ========================== */
	.row{		
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		row-gap: 20px;
	}
	.columns {
		padding: 0 10px;		
		flex:0 1 25%		
	}
	.columns__item {
		font-size: 40px;
		line-height: 1.5;
		color: #828282;
		background:#c3ffa2;
		text-align: center;
		
	}
	/* =========================== */
	.cards {
		display: flex;
		/* flex-wrap: wrap; */
		margin: 0 -15px;
	}
	.cards__column {
		flex:0 1 33.333%;
		padding: 0 15px; ;
		}
	.cards__item {
		min-height: 100%;
		background: rgb(171, 144, 144);
	}
	.item-card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		padding: 10px;
		border-radius: 20px;
		
	}
	.item-card__image {
		
	}
	.item-card__image img{
		max-width: 100%;
	}
	.item-card__text {
		color: #e6cbfe;

	}
	.item-card__button {
		background-color: #77608d;
		color: #d0afaf;
		padding: 10px;
	}

	.object {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 20px;
		max-width: 500px;

	}
	.object__icon {
		background: url('../img/icons/star.svg') 0 0/cover no-repeat;
		flex:0 0 50px;
		height: 50px;
	}
	.object__text {
		color: aqua;
	}

	.object__box{
		margin-bottom: 20px;
	}
	.object-2 {
		
		max-width: 500px;
	}
	
	
	.object-2__text {
		
		display: flex;
		gap: 20px;
		align-items: center; 
	}

	.object-2__text::before{
		content: "";
		flex: 0 0 30px; 
		background: url('../img/icons/star.svg') center/cover no-repeat; 		
		width: 30px;
		height: 30px;
	
	}
